@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');

@import "tailwindcss";
/* @tailwind base;
@tailwind components; */
@tailwind utilities;

@theme {
  --color-oj-orange: #FF6600;
}

* {
  font-family: "Lexend", sans-serif;
  box-sizing: border-box;
}

select, input, textarea {
  outline: none;
}

.reset-css {
  all: initial;
  unicode-bidi: isolate;
  font-family: inherit;  /* giữ nguyên font từ cha */
  font-size: inherit;
  font-weight: inherit;
}

.reset-css * {
  all: revert;
  font-family: inherit;  /* giữ nguyên font từ cha */
  font-size: inherit;
  font-weight: inherit;
}




