@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');

@import "tailwindcss";
/* @tailwind base;
@tailwind components; */
@tailwind utilities;

@theme {
  --color-oj-orange: #FF6600;
  --color-oj-gray: #EEEEEE;
  --color-oj-white: #FFFFFF;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1216px;
  --breakpoint-2xl: 1216px;
}

* {
  font-family: "Lexend", sans-serif;
  box-sizing: border-box;
}

select, input, textarea {
  outline: none;
}

.reset-css {
  all: initial;
  unicode-bidi: isolate;
  font-family: inherit;  /* giữ nguyên font từ cha */
  font-size: inherit;
  font-weight: inherit;
}

.reset-css * {
  all: revert;
  font-family: inherit;  /* giữ nguyên font từ cha */
  font-size: inherit;
  font-weight: inherit;
}

@utility container {
  margin-left: auto;
  margin-right: auto;
  width: 100%;

  /* Tự động khớp chiều rộng với các breakpoint đã định nghĩa */
  @media (width >= --theme(--breakpoint-sm)) {
    max-width: var(--breakpoint-sm);
  }
  @media (width >= --theme(--breakpoint-md)) {
    max-width: var(--breakpoint-md);
  }
  @media (width >= --theme(--breakpoint-lg)) {
    max-width: var(--breakpoint-lg);
  }
  @media (width >= --theme(--breakpoint-xl)) {
    max-width: var(--breakpoint-xl);
  }
  /* 2xl cũng sẽ dừng ở 1216px theo yêu cầu của bạn */
}




